.content_block
{
	padding: 0px;
	text-align:center;
	background: black;
}

.content_block_inner
{
	padding: 0px;
	background-color: #1d1d1d;
	width: 960px;
	margin: auto;
}

.content_block_text
{
	background-color: #1e1e1e;
	width: 600px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.content_block_text h1
{
	font-family: 'Ubuntu condensed', sans-serif;
	margin: 0px;
	font-size:32px;

	color:#FF3200;
	text-align:center;
}

.content_block_text h2
{
	font-family: 'Ubuntu condensed', sans-serif;
	font-size:20px;

	color:#FF4700;
	text-align:center;
}

.content_block_text p
{
	font-size:12px;
	font-family: 'Open Sans';

	color:#FFFFFF;
	text-align:center;
}
